<%= simple_form_for(@query_securities_broker_params,
  url: search_securities_brokers_path, as: :securities_broker,
  method: :post, wrapper: :vertical_form) do |f| %>

  <%= f.error_notification %>

  <%= f.input :name, required: false, label: t('activerecord.attributes.securities_broker.name') %>
  <!-- add more query parameter fields here -->

  <div class="form-group">
      <%= link_to t('buttons.reset'), securities_brokers_path,
        class: 'btn btn-white btn-sm' %>
      <%= f.submit t('buttons.search'),
        class: 'btn btn-primary btn-sm pull-right' %>
  </div>
<% end %>
