<%= simple_form_for(@query_consultant_params,
  url: query_consultants_path, as: :consultant,
  method: :post, wrapper: :vertical_form) do |f| %>

  <%= f.error_notification %>

  <%= f.input :name, required: false, label: t('activerecord.attributes.consultant.name') %>
  <!-- add more query parameter fields here -->

  <div class="form-group">
      <%= link_to t('buttons.reset'), consultants_path,
        class: 'btn btn-white btn-sm' %>
      <%= f.submit t('buttons.search'),
        class: 'btn btn-primary btn-sm pull-right' %>
  </div>
<% end %>
