<%= simple_form_for(@client.becomes(Client), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="hr-line-dashed"></div>
  <%= f.input :application_number %>
  <div class="hr-line-dashed"></div>
  <%= f.input :id_number_type, required: true, collection: Client.id_number_types, as: :radio_buttons %>
  <div class="hr-line-dashed"></div>
  <%= f.input :id_number %>
  <div class="hr-line-dashed"></div>
  <%= f.input :name %>
  <div class="hr-line-dashed"></div>

  <%- if @client.institution? %>
  <%= f.input :person_in_charge_id_number_type, required: true, collection: Client.id_number_types, as: :radio_buttons %>
  <div class="hr-line-dashed"></div>
  <%= f.input :person_in_charge_id_number, required: true %>
  <div class="hr-line-dashed"></div>
  <%= f.input :person_in_charge_name, required: true %>
  <div class="hr-line-dashed"></div>
  <% end -%>
  <%= f.input :traded_at, as: :date_time_picker %>
  <div class="hr-line-dashed"></div>
  <%= f.input :fund_trading_account_number %>
  <div class="hr-line-dashed"></div>

  <%= f.input :sales_man_code %>
  <div class="hr-line-dashed"></div>

  <%= f.input :business_code, collection: Client.business_codes, as: :radio_buttons %>
  <div class="hr-line-dashed"></div>

  <%= f.input :branch_store_number %>
  <div class="hr-line-dashed"></div>

  <%= f.input :fund_account_number, hint: '开户时暂不填写' %>
  <div class="hr-line-dashed"></div>

  <%= f.input :type, as: :hidden %>

  <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
          <%= f.submit t('button.save'), class: 'btn btn-primary btn-sm', id: 'client-save-btn' %>
          or
          <%= link_to t('activerecord.text.back_to_list', model: Client.model_name.human),
          clients_path %>
      </div>
  </div>
<% end %>
