<%= simple_form_for(@query_client_params, url: search_clients_path, as: :client, wrapper: :vertical_form) do |f| %>
  <%= f.error_notification %>

  <%= f.input :application_number, label: t('activerecord.attributes.client.application_number') %>
  <%= f.input :name, label: t('activerecord.attributes.client.name') %>
  <%= f.input :id_number, label: t('activerecord.attributes.client.id_number') %>
  <%= f.input :category, label: t('activerecord.attributes.client.category'), collection: Client.category_names, as: :radio_buttons %>

  <div class="form-group">
      <%= f.submit t('buttons.search'), class: 'btn btn-white btn-sm' %>
  </div>
<% end %>
