<%= simple_form_for(:client, url: search_client_path, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :application_number, label: t('activerecord.attributes.client.application_number') %>
  <%= f.input :name, label: t('activerecord.attributes.client.name') %>
  <%= f.input :id_number, label: t('activerecord.attributes.client.id_number') %>

  <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
          <%= f.submit t('buttons.search'), class: 'btn btn-white btn-sm' %>
      </div>
  </div>
<% end %>
