<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><%= t('activerecord.text.show_instance', model: Client.model_name.human) %></h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to t('text.home'), root_path %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.show_instance', model: Client.model_name.human) %></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="m-b-md">
                        <div class="pull-right">
                          <%= link_to fa_icon('pencil', text: t('buttons.edit')), edit_client_path(@client), class: 'btn btn-white btn-sm' %>
                          <%= link_to fa_icon('upload', text: '上传开户原始资料'), upload_client_original_document_path(@client), class: 'btn btn-white btn-sm' %>
                        </div>

                        <h2>投资人 <%= @client.name %></h2>
                    </div>
                    <dl class="dl-horizontal">
                        <dt><%= t('activerecord.attributes.client.category') %>:</dt>
                        <dd><span class="label label-success"><%= @client.individual? ? t('individual_institution.individual') : t('individual_institution.institution') %></span></dd>
                    </dl>
                </div>
            </div>

            <div class="row m-t-sm">
                <div class="col-lg-12">
                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <% @tabs.each do |tab| %>
                                    <% if @current_tab == tab %>
                                    <li class="active">
                                    <% else %>
                                    <li class="">
                                    <% end %>
                                      <%= link_to t("activerecord.attributes.client.tabs.#{tab}"), client_path(@client, tab: tab) %>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">

                            <div class="tab-content">
                                <% @tabs.each do |tab| %>
                                <% if @current_tab == tab %>
                                <div class="tab-pane active">
                                <% else %>
                                <div class="tab-pane">
                                <% end %>
                                    <%= render "show_tab_#{tab}" if tab == @current_tab %>
                                </div>
                                <% end %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
