<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'm-t' }, wrapper: :inline_form) do |f| %>
    <%= f.input :login, label: false, placeholder: '请输入帐号' %>
    <%= f.input :password, label: false, placeholder: '请输入密码' %>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label t('labels.remember_me') %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit t('buttons.sign_in'), class: 'btn btn-primary block full-width m-b' %>
  </div>
<% end %>
