<%= simple_form_for(@query_money_record_params,
  url: search_money_records_path, as: :money_record,
  method: :post, wrapper: :vertical_form) do |f| %>

  <%= f.error_notification %>

  <%= f.input :name, required: false, label: t('activerecord.attributes.money_record.name') %>
  <!-- add more query parameter fields here -->

  <div class="form-group">
      <%= link_to t('buttons.reset'), money_records_path,
        class: 'btn btn-white btn-sm' %>
      <%= f.submit t('buttons.search'),
        class: 'btn btn-primary btn-sm pull-right' %>
  </div>
<% end %>
