<%= simple_form_for(@product, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :short_name %>
  <div class="hr-line-dashed"></div>
  <%= f.input :client_code %>
  <%= f.input :code %>
  <div class="hr-line-dashed"></div>
  <%= f.simple_fields_for :product_manager do |pm| %>
    <%= pm.input :name, input_html: {autocomplete: 'off', class: 'product_manager_name'} %>
  <% end %>
  <%= f.input :type %>
  <%= f.input :dev_type %>
  <div class="hr-line-dashed"></div>
  <%= f.input :initial_fund %>
  <div class="hr-line-dashed"></div>
  <%= f.input :trustor %>
  <div class="hr-line-dashed"></div>
  <%= f.input :securities_broker %>
  <div class="hr-line-dashed"></div>
  <%= f.input :valuation_out_sourcing %>
  <div class="hr-line-dashed"></div>
  <%= f.input :deposited_at, as: :date_time_picker %>
  <div class="hr-line-dashed"></div>
  <%= f.input :delegation_started_at, as: :date_time_picker %>
  <div class="hr-line-dashed"></div>
  <%= f.input :delegation_ended_at, as: :date_time_picker %>
  <div class="hr-line-dashed"></div>
  <%= f.input :delegation_duration %>
  <div class="hr-line-dashed"></div>
  <%= f.input :fee_calculation_standard %>
  <div class="hr-line-dashed"></div>
  <%= f.input :management_fee_ratio %>
  <div class="hr-line-dashed"></div>
  <%= f.input :year_day_count %>
  <div class="hr-line-dashed"></div>
  <%= f.input :management_fee_flour %>
  <div class="hr-line-dashed"></div>
  <%= f.input :trustor_fee_ratio %>
  <div class="hr-line-dashed"></div>
  <%= f.input :operation_fee_ratio %>
  <div class="hr-line-dashed"></div>
  <%= f.input :investment_consultant_fee_ratio %>
  <div class="hr-line-dashed"></div>
  <%= f.input :investment_consultant_fee_flour %>
  <div class="hr-line-dashed"></div>
  <%= f.input :bonus %>
  <div class="hr-line-dashed"></div>
  <%= f.input :sales_fee_ratio %>
  <div class="hr-line-dashed"></div>
  <%= f.input :sse_account_code %>
  <div class="hr-line-dashed"></div>
  <%= f.input :szse_account_code %>
  <div class="hr-line-dashed"></div>
  <%= f.input :cffex_account_code %>
  <div class="hr-line-dashed"></div>
  <%= f.input :zce_account_code %>
  <div class="hr-line-dashed"></div>
  <%= f.input :dce_account_code %>
  <div class="hr-line-dashed"></div>
  <%= f.input :shfe_account_code %>
  <div class="hr-line-dashed"></div>
  <%= f.input :sales_department %>
  <div class="hr-line-dashed"></div>
  <%= f.input :investment_consultant_reference_department %>
  <div class="hr-line-dashed"></div>
  <%= f.input :operation_department %>
  <div class="hr-line-dashed"></div>
  <%= f.input :investment_consultant_name %>

  <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
          <%= f.submit t('buttons.save'), class: 'btn btn-primary btn-sm', id: 'client-save-btn' %>
          or
          <%= link_to t('activerecord.text.back_to_list', model: Product.model_name.human),
          clients_path %>
      </div>
  </div>
<% end %>

<script type="text/javascript">

  $(document).ready(function() {
    var $input = $('.product_manager_name');
    $input.typeahead({
      source: [
        {id: "1", name: "Item 1"},
        {id: "2", name: "Item 2"},
        {id: "3", name: "Item 3"}
      ],
      autoSelect: true
    });

    $input.change(function() {
      var current = $input.typeahead("getActive");
      if (current) {
        if (current.name == $input.val()) {
          console.log(current.id);
        }
      }
    });
  });
</script>
