<%= simple_form_for(@product, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

<div class="row">
    <div class="col-lg-6">
      <%= f.simple_fields_for :staff do |pm| %>
        <%= pm.input :name, input_html: {autocomplete: 'off'}, label: t('activerecord.attributes.product.staff') %>
        <%= pm.input :id, as: :hidden %>
      <% end %>
        <%= f.input :name, input_html: {autocomplete: 'off'} %>
        <%= f.input :short_name, input_html: {autocomplete: 'off'} %>
        <%= f.input :code, input_html: {autocomplete: 'off'} %>
        <%= f.input :client_code, input_html: {autocomplete: 'off'} %>
        <%= f.input :initial_fund, input_html: {autocomplete: 'off'} %>
        <%= f.input :investment_scope, input_html: {autocomplete: 'off'}%>
    </div>
    <div class="col-lg-6">
        <%= f.input :category, collection: Product.categories, as: :radio_buttons %>
        <%= f.input :rd_category, collection: Product.rd_categories, as: :radio_buttons %>
        <%= f.input :status, collection: Product.statuses, as: :radio_buttons %>
        <%= f.input :liquidated_at, as: :date_picker %>
    </div>
</div>

<div class="hr-line-dashed"></div>

<div class="row">
    <div class="col-lg-6">
    <%= f.input :is_one_to_many, as: :radio_buttons %>
    <%= f.input :is_structured, as: :radio_buttons %>
    </div>
    <div class="col-lg-6">
    <%= f.input :leverage %>
    <%= f.input :superior_code %>
    <%= f.input :inferior_code %>
    </div>
</div>

<div class="hr-line-dashed"></div>

<div class="row">
    <div class="col-lg-6">
      <%= f.input :deposited_at, as: :date_picker %>
    </div>
    <div class="col-lg-6">
      <%= f.input :put_on_record_at, as: :date_picker %>
    </div>
</div>

<div class="hr-line-dashed"></div>


<div class="row">
    <div class="col-lg-6">
        <%= f.input :delegation_started_at, as: :date_picker %>
        <%= f.input :contract_profit_ratio %>
        <%= f.input :trustor_name, input_html: {autocomplete: 'off'} %>
        <%= f.input :trustor_bank_name, input_html: {autocomplete: 'off'} %>
        <%= f.input :trustor_bank_account_name, input_html: {autocomplete: 'off'} %>
        <%= f.input :trustor_bank_account_number, input_html: {autocomplete: 'off'} %>
    </div>
    <div class="col-lg-6">
        <%= f.input :delegation_ended_at, as: :date_picker %>
        <%= f.input :delegation_duration %>
        <%= f.input :spec_profit_ratio %>
        <%= f.input :securities_broker_name, input_html: {autocomplete: 'off'} %>
        <%= f.input :securities_broker_account_name, input_html: {autocomplete: 'off'} %>
        <%= f.input :securities_broker_account_number, input_html: {autocomplete: 'off'} %>
        <%= f.input :valuation_out_sourcing, input_html: {autocomplete: 'off'} %>
    </div>
</div>

<div class="hr-line-dashed"></div>

<div class="row">
    <div class="col-lg-6">
        <%= f.input :fee_calculation_standard, input_html: {autocomplete: 'off'} %>
        <%= f.input :trustor_fee_ratio, input_html: {autocomplete: 'off'} %>
        <%= f.input :operation_fee_ratio, input_html: {autocomplete: 'off'} %>
        <%= f.input :bonus, input_html: {autocomplete: 'off'} %>
        <%= f.input :sales_fee_ratio, input_html: {autocomplete: 'off'} %>
    </div>
    <div class="col-lg-6">
        <%= f.input :year_day_count, input_html: {autocomplete: 'off'} %>
        <%= f.input :management_fee_ratio, input_html: {autocomplete: 'off'} %>
        <%= f.input :management_fee_flour, input_html: {autocomplete: 'off'} %>
        <%= f.input :consultant_fee_ratio, input_html: {autocomplete: 'off'} %>
        <%= f.input :consultant_fee_flour, input_html: {autocomplete: 'off'} %>
    </div>
</div>

<div class="hr-line-dashed"></div>

<div class="row">
    <div class="col-lg-6">
        <%= f.input :szse_gateway, input_html: {autocomplete: 'off'} %>
    </div>
    <div class="col-lg-6">
        <%= f.input :dce_gateway, input_html: {autocomplete: 'off'} %>
    </div>
</div>
<div class="hr-line-dashed"></div>
<div class="row">
    <div class="col-lg-6">
        <%= f.input :sse_account_code, input_html: {autocomplete: 'off'} %>
        <%= f.input :szse_account_code, input_html: {autocomplete: 'off'} %>
        <%= f.input :cffex_account_code, input_html: {autocomplete: 'off'} %>
    </div>
    <div class="col-lg-6">
        <%= f.input :zce_account_code, input_html: {autocomplete: 'off'} %>
        <%= f.input :dce_account_code, input_html: {autocomplete: 'off'} %>
        <%= f.input :shfe_account_code, input_html: {autocomplete: 'off'} %>
    </div>
</div>
<div class="hr-line-dashed"></div>

<div class="row">
    <div class="col-lg-6">
      <%= f.simple_fields_for :sales_department do |department| %>
        <%= department.input :name, input_html: {autocomplete: 'off'}, label: t('activerecord.attributes.product.sales_department') %>
        <%= department.input :id, as: :hidden %>
      <% end %>
      <%= f.simple_fields_for :consultant do |consultant| %>
        <%= consultant.input :name, input_html: {autocomplete: 'off'}, label: t('activerecord.attributes.product.consultant') %>
        <%= consultant.input :id, as: :hidden %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <%= f.simple_fields_for :operation_department do |department| %>
        <%= department.input :name, input_html: {autocomplete: 'off'}, label: t('activerecord.attributes.product.operation_department') %>
        <%= department.input :id, as: :hidden %>
      <% end %>
    </div>
</div>

<div class="hr-line-dashed"></div>

<div class="row">
    <div class="col-lg-6">
      <%= f.input :tag_names, input_html: { data: { role: 'tagsinput' } } %>
    </div>
    <div class="col-lg-6">

    </div>
</div>

<div class="hr-line-dashed"></div>

<div class="form-group">
    <div class="pull-right m-r-md">
        <%= f.submit t('buttons.save'), class: 'btn btn-primary btn-w-m' %>
    </div>
    <div class="m-l-md">
      <%= link_to t('buttons.back'), products_path, class: 'btn btn-white' %>
    </div>
</div>
<% end %>

<%= javascript_include_tag 'bootstrap-tagsinput/bootstrap-tagsinput', 'data-turbolinks-track' => true %>

<script type="text/javascript">

  $.get('/staffs.json', function(data) {
    $('#product_staff_attributes_name').typeahead({
      source: data
    }).change(function() {
      var current = $(this).typeahead("getActive");
      if (current) {
        if (current.name == $(this).val()) {
          $('#product_staff_attributes_id').val(current.id);
        }
      }
    });
  });

  $.get('/departments.json', function(data) {
    $('#product_sales_department_attributes_name').typeahead({
      source: data
    }).change(function() {
      var current = $(this).typeahead("getActive");
      if (current) {
        if (current.name == $(this).val()) {
          $('#product_sales_department_attributes_id').val(current.id);
        }
      }
    });

    $('#product_operation_department_attributes_name').typeahead({
      source: data
    }).change(function() {
      var current = $(this).typeahead("getActive");
      if (current) {
        if (current.name == $(this).val()) {
          $('#product_operation_department_attributes_id').val(current.id);
        }
      }
    });

    $('#product_consultant_reference_department_attributes_name').typeahead({
      source: data
    }).change(function() {
      var current = $(this).typeahead("getActive");
      if (current) {
        if (current.name == $(this).val()) {
          $('#product_consultant_reference_department_attributes_id').val(current.id);
        }
      }
    });
  });

  $.get('/consultants.json', function(data) {
    $('#product_consultant_attributes_name').typeahead({
      source: data
    }).change(function() {
      var current = $(this).typeahead("getActive");
      if (current) {
        if (current.name == $(this).val()) {
          $('#product_consultant_attributes_id').val(current.id);
        }
      }
    });
  });


</script>
