<%= simple_form_for(@product, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

<div class="row">
  <div class="col-lg-6">
    <%= f.input :name %>
    <%= f.input :short_name %>
    <%= f.input :code %>
    <%= f.input :client_code %>
    <%= f.input :initial_fund %>
  </div>
  <div class="col-lg-6">
    <%= f.simple_fields_for :product_manager do |pm| %>
      <%= pm.input :name, input_html: {autocomplete: 'off'}, label: t('activerecord.attributes.product.product_manager') %>
      <%= pm.input :id, as: :hidden %>
    <% end %>
    <%= f.input :product_type, collection: Product.product_types, as: :radio_buttons %>
    <%= f.input :product_dev_type, collection: Product.product_dev_types, as: :radio_buttons %>
  </div>
</div>

<div class="hr-line-dashed"></div>

<div class="row">
  <div class="col-lg-6">
    <%= f.input :delegation_started_at, as: :date_time_picker %>
    <%= f.input :delegation_duration, as: :string %>
  </div>
  <div class="col-lg-6">
    <%= f.input :delegation_ended_at, as: :date_time_picker %>
  </div>
</div>

<div class="hr-line-dashed"></div>

<div class="row">
  <div class="col-lg-6">
    <%= f.simple_fields_for :sales_department do |department| %>
      <%= department.input :name, input_html: {autocomplete: 'off'}, label: t('activerecord.attributes.product.sales_department') %>
      <%= department.input :id, as: :hidden %>
    <% end %>

    <%= f.simple_fields_for :operation_department do |department| %>
      <%= department.input :name, input_html: {autocomplete: 'off'}, label: t('activerecord.attributes.product.operation_department') %>
      <%= department.input :id, as: :hidden %>
    <% end %>
  </div>
  <div class="col-lg-6">
    <%= f.simple_fields_for :consultant_reference_department do |department| %>
      <%= department.input :name, input_html: {autocomplete: 'off'}, label: t('activerecord.attributes.product.consultant_reference_department') %>
      <%= department.input :id, as: :hidden %>
    <% end %>

    <%= f.simple_fields_for :consultant do |department| %>
      <%= department.input :name, input_html: {autocomplete: 'off'}, label: t('activerecord.attributes.product.consultant_name') %>
      <%= department.input :id, as: :hidden %>
    <% end %>
  </div>
</div>

<div class="hr-line-dashed"></div>

  <div class="form-group">
      <div class="pull-right m-r-md">
          <%= f.submit t('buttons.save'), class: 'btn btn-primary btn-w-m' %>
      </div>
      <div class="m-l-md">
        <%= link_to t('activerecord.text.back_to_list', model: Product.model_name.human), products_path, class: 'btn btn-white' %>
      </div>
  </div>
<% end %>

<script type="text/javascript">

  $.get('/product_managers.json', function(data) {
    $('#product_product_manager_attributes_name').typeahead({
      source: data
    }).change(function() {
      var current = $(this).typeahead("getActive");
      if (current) {
        if (current.name == $(this).val()) {
          $('#product_product_manager_attributes_id').val(current.id);
        }
      }
    });
  });

  $.get('/departments.json', function(data) {
    $('#product_sales_department_attributes_name').typeahead({
      source: data
    }).change(function() {
      var current = $(this).typeahead("getActive");
      if (current) {
        if (current.name == $(this).val()) {
          $('#product_sales_department_attributes_id').val(current.id);
        }
      }
    });

    $('#product_operation_department_attributes_name').typeahead({
      source: data
    }).change(function() {
      var current = $(this).typeahead("getActive");
      if (current) {
        if (current.name == $(this).val()) {
          $('#product_operation_department_attributes_id').val(current.id);
        }
      }
    });

    $('#product_consultant_reference_department_attributes_name').typeahead({
      source: data
    }).change(function() {
      var current = $(this).typeahead("getActive");
      if (current) {
        if (current.name == $(this).val()) {
          $('#product_consultant_reference_department_attributes_id').val(current.id);
        }
      }
    });
  });

  $.get('/consultants.json', function(data) {
    $('#product_consultant_attributes_name').typeahead({
      source: data
    }).change(function() {
      var current = $(this).typeahead("getActive");
      if (current) {
        if (current.name == $(this).val()) {
          $('#product_consultant_attributes_id').val(current.id);
        }
      }
    });
  });


</script>
