<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><%= t('activerecord.text.show_instance', model: Product.model_name.human) %></h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to t('text.home'), root_path %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.show_instance', model: Product.model_name.human) %></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="m-b-md">
                        <div class="pull-right">
                          <%= link_to fa_icon('pencil', text: t('buttons.edit')), edit_product_path(@product), class: 'btn btn-white btn-sm' %>
                        </div>

                        <h2><%= @product.name %></h2>
                    </div>
                    <dl class="dl-horizontal">
                        <dt><%= t('activerecord.attributes.product.running_status') %>:</dt>
                        <dd><span class="label label-primary"><%= @product.running_status %></span></dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <dl class="dl-horizontal">

                        <dt><%= t('activerecord.attributes.product.product_manager') %>:</dt>
                        <dd><%= @product.product_manager.name if @product.product_manager %> </dd>
                        <dt><%= t('activerecord.attributes.product.name') %>:</dt>
                        <dd><%= @product.name %></dd>
                        <dt><%= t('activerecord.attributes.product.short_name') %>:</dt>
                        <dd><%= @product.short_name %></dd>
                        <dt><%= t('activerecord.attributes.product.code') %>:</dt>
                        <dd> <%= @product.code %></dd>
                    </dl>
                </div>
                <div class="col-lg-7">
                    <dl class="dl-horizontal">

                        <dt><%= t('activerecord.attributes.product.product_type') %>:</dt>
                        <dd><%= @product.product_type %></dd>
                        <dt><%= t('activerecord.attributes.product.product_dev_type') %>:</dt>
                        <dd> <%= @product.product_dev_type %></dd>
                        <dt><%= t('activerecord.attributes.product.initial_fund') %>:</dt>
                        <dd> <%= @product.initial_fund %></dd>
                    </dl>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <dl class="dl-horizontal">

                        <dt><%= t('activerecord.attributes.product.delegation_started_at') %>:</dt>
                        <dd><%= @product.delegation_started_at.strftime('%Y-%m-%d') if @product.delegation_started_at %></dd>
                        <dt><%= t('activerecord.attributes.product.delegation_ended_at') %>:</dt>
                        <dd><%= @product.delegation_ended_at.strftime('%Y-%m-%d') if @product.delegation_ended_at %></dd>

                    </dl>
                </div>
                <div class="col-lg-7">
                    <dl class="dl-horizontal">

                      <dt><%= t('activerecord.attributes.product.delegation_duration') %>:</dt>
                      <dd><%= @product.delegation_duration %> </dd>
                      <dt><%= t('activerecord.attributes.product.year_day_count') %>:</dt>
                      <dd><%= @product.year_day_count %> </dd>

                    </dl>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <dl class="dl-horizontal">

                        <dt><%= t('activerecord.attributes.product.sales_department') %>:</dt>
                        <dd><%= @product.sales_department.name if @product.sales_department %></dd>
                        <dt><%= t('activerecord.attributes.product.consultant_reference_department') %>:</dt>
                        <dd><%= @product.consultant_reference_department.name if @product.consultant_reference_department %></dd>

                    </dl>
                </div>
                <div class="col-lg-7">
                    <dl class="dl-horizontal">

                      <dt><%= t('activerecord.attributes.product.operation_department') %>:</dt>
                      <dd><%= @product.operation_department.name if @product.operation_department %> </dd>
                      <dt><%= t('activerecord.attributes.product.consultant_name') %>:</dt>
                      <dd><%= @product.consultant.name if @product.consultant %> </dd>

                    </dl>
                </div>
            </div>

            <div class="row m-t-sm">
                <div class="col-lg-12">
                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <% @tabs.each do |tab| %>
                                    <% if @current_tab == tab %>
                                    <li class="active">
                                    <% else %>
                                    <li class="">
                                    <% end %>
                                      <%= link_to t("activerecord.attributes.product.tabs.#{tab}"), product_path(@product, tab: tab) %>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">

                            <div class="tab-content">
                                <% @tabs.each do |tab| %>
                                <% if @current_tab == tab %>
                                <div class="tab-pane active">
                                <% else %>
                                <div class="tab-pane">
                                <% end %>
                                    <%= render "show_tab_#{tab}" if tab == @current_tab %>
                                </div>
                                <% end %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
